{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">
            <h1>Création Service</h1>
        </div>
    </div>


    {{ include('service/_form.html.twig') }}

 </div>
{% endblock %}
