{% extends 'base.html.twig' %}

{% block title %}Edit Boncommandefour{% endblock %}

{% block body %}
    <h1>Edit Boncommandefour</h1>

    {{ include('boncommandefour/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
