{% extends 'base.html.twig' %}

{% block title %}Edit Fabricant{% endblock %}

{% block body %}
    <div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">
            <h1>Modification Fabriquant</h1>
        </div>
    </div>

    {{ include('fabricant/_form.html.twig', {'button_label': 'Update'}) }}

  </div>
{% endblock %}
