{% extends 'base.html.twig' %}

{% block title %}New Fabricant{% endblock %}

{% block body %}
    <div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">
            <h1>Création fabricant</h1>
        </div>
    </div>

    {{ include('fabricant/_form.html.twig') }}
 </div>
{% endblock %}
