{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
<div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">
            <h1>Modification Client</h1>
        </div>
    </div>


    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

 </div>
{% endblock %}
