{% extends 'base.html.twig' %}

{% block title %}Edit Detailreglement{% endblock %}

{% block body %}
    <h1>Edit Detailreglement</h1>

    {{ include('detailreglement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_detailreglement_index') }}">back to list</a>

    {{ include('detailreglement/_delete_form.html.twig') }}
{% endblock %}
