<!DOCTYPE  html>
<html lang="fr">  
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>   
        <h1>Contact Socaf</h1>
        <p>Bonjour {{ nomprenom }},</p>
        <p>Nous avons bien reçu votre message concernant le sujet : "{{ sujet }}".</p>
        <p>Votre message : "{{ message|raw }}"</p>
        <p>Nous vous répondrons dans les plus brefs délais.</p>
        <p>Cordialement,</p>
        <p>L'équipe Socaf</p>
    </body>
</html> 
