{% extends 'base.html.twig' %}

{% block title %}New Marque{% endblock %}

{% block body %}
    <div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">
            <h1>Création Marque</h1>
        </div>
    </div>


    {{ include('marque/_form.html.twig') }}
  </div>
{% endblock %}
 