{% extends 'base.html.twig' %}

{% block title %}Edit Fournisseur{% endblock %}

{% block body %}
    <div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">
            <h1>Modification  Fournisseur</h1>
        </div>
    </div>


    {{ include('fournisseur/_form.html.twig', {'button_label': 'Update'}) }}

  </div>
{% endblock %}
