{% extends 'base.html.twig' %}

{% block title %}New Fournisseur{% endblock %}

{% block body %}
     <div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">
            <h1>Création Fournisseur</h1>
        </div>
    </div>


    {{ include('fournisseur/_form.html.twig') }}

    </div>
{% endblock %}
