{% extends 'base.html.twig' %}

{% block title %}New Typearticle{% endblock %}

{% block body %}
    <div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">
            <h1>Création Categorie article</h1>
        </div>
    </div>


    {{ include('typearticle/_form.html.twig') }}

  </div>
{% endblock %}
